/* Контейнер альбомов */
.albums-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Стили для всех Card внутри */
.albums-container > .MuiCard-root {
    position: relative;
    border: 2px solid lavender;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
}

.albums-container > .MuiCard-root:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Стили для CardMedia */
.albums-container .MuiCardMedia-root {
    height: 200px;
    object-fit: cover;
}

/* Стили для текстового содержимого */
.albums-container .MuiCardContent-root {
    padding: 16px;
}

.albums-container .MuiTypography-h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.albums-container .MuiTypography-body2 {
    font-size: 14px;
    color: #666;
}

/* Стили для кнопки */
.albums-container .MuiIconButton-root {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgba(144, 37, 241, 0.52);
    color: white;
}

.albums-container .MuiIconButton-root:hover {
    background-color: rgba(144, 37, 241, 0.52);
}