
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c081f8;
    color: white;
    font-family: Arial, sans-serif;
    height: 50px;
    min-height: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 24px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffc107;
}

/* Кнопка "Выйти" */
.navbar button {
    background-color: #ffc107; /* Желтая кнопка */
    border: none;
    padding: 5px 10px;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: #e0a800; /* Более темный желтый при наведении */
}

.navbar span {
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
}